.main {
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: row;
  overflow-y: hidden;
}

.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.grid {
  display: flex;
  align-items: flex-start;
  justify-content: left;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  padding-top: 3rem;
  padding-left: 3rem;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 50vw;
  height: 350px;
  background-color: #e8ebed;
  border-radius: 1rem;
  border-width: 3.5px;
  border-color:black;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.leftbar{
  width: 15%;
  display: flex;
  flex-direction:column;
  background-color: #064c7a;
  color: #fff;
  align-items: center;
  text-align: center;
  height: 100vh;
  border-right: 2px;
  border-color: black;
}

.title{
  display: flex;
  justify-content: column;
  margin-bottom: 10vh;
  height: auto;
}

.centeritems{
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: left;
  background-image: url('https://test.mnerdsdev.com/Form-bg.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: right;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
