.main {
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: row;
  overflow-y: hidden;
}

.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.grid {
  display: flex;
  align-items: flex-start;
  justify-content: left;
  flex-wrap: wrap;
  width: 70%;
  height: 100%;
  padding-top: 3rem;
  padding-left: 3rem;
  
}

.cardthree {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: white;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 90%;
  height: 190px;
  background-color: rgb(100 45 120);
  border-radius: 1rem;
  border-width: 3.5px;
  border-color:black;
}
.cardfour {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: white;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 90%;
  height: 190px;
  background-color: #6f46eb;
  border-radius: 1rem;
  border-width: 3.5px;
  border-color:black;
}

.cardone {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: white;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 90%;
  height: 190px;
  background-color: rgb(234 179 8);
  border-radius: 1rem;
  border-width: 3.5px;
  border-color:black;
}

.cardone:hover{filter: drop-shadow(0 0.25rem 0.75rem rgb(234 179 8));}
.cardtwo:hover{filter: drop-shadow(0 0.25rem 0.75rem rgb(13 148 136));}
.cardthree:hover{filter: drop-shadow(0 0.25rem 0.75rem rgb(100 45 120));}
.cardfour:hover{filter: drop-shadow(0 0.25rem 0.75rem #6f46eb);}

.cardtwo {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: white;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 90%;
  height: 190px;
  background-color: rgb(13 148 136);
  border-radius: 1rem;
  border-width: 3.5px;
  border-color:black;
}

.leftbar{
  width: 15%;
  display: flex;
  flex-direction:column;
  background-color: #1076ad;
  color: #fff;
  align-items: center;
  text-align: center;
  height: 100vh;
  border-right: 2px;
  border-color: black;
  filter: drop-shadow(0.5rem 0 2rem rgb(43, 108, 128));
}

.title{
  display: flex;
  justify-content: column;
  margin-bottom: 10vh;
  height: auto;
}

.centeritems{
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: left;
  background-image: url('https://test.mnerdsdev.com/aspasp-Dashboard.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: right;
  padding-left: 1.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
